{{#with controlPanel }}

    {{#eq badge '0' }}
        No property resolved yet.
    {{else}}
        {{#eq badge '1' }}
            Resolved 1 property.
        {{else}}
            Resolved {{badge}} properties.
        {{/eq}}
    {{/eq}}
    {{#neq errorCount 0 }}
        <div class="card bg-danger">
            {{#eq errorCount 1}}
                1 resolution failure
            {{else}}
                {{errorCount}} resolution failures
            {{/eq}}
        </div>
    {{/neq}}

{{/with}}
