<div class="card card-light">
    <div class="card-header">
        <h3 class="card-title"><code>{{@key}}</code></h3>
    </div>
    <div class="card-body">
        {{#neq controlPanel.body.resolvedProperties.size 0}}
            <p>
                The following table contains the properties which were resolved by this test resources provider.
            </p>
            <table class="table">
                <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                    <th>Request context</th>
                    <th>Test resources configuration</th>
                </tr>
                </thead>
                <tbody>
                {{#each controlPanel.body.resolvedProperties as |resolution|}}
                    <tr>
                        <td><code>{{resolution.property}}</code></td>
                        <td><code>{{resolution.resolvedValue}}</code></td>
                        <td><code>{{resolution.properties}}</code></td>
                        <td><code>{{resolution.testResourcesConfiguration}}</code></td>
                    </tr>

                {{/each}}
                </tbody>
            </table>
        {{else}}
            This test resources provider hasn't resolved any property yet.
        {{/neq}}
        {{#neq controlPanel.body.errors.size 0}}
            <p>There were errors during resolution of properties.</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Property</th>
                    <th>Error</th>
                </tr>
                </thead>
                <tbody>
                {{#each controlPanel.body.errors as |error|}}
                    <tr>
                        <td><code>{{error.property}}</code></td>
                        <td><code>{{error.stackTrace}}</code></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{/neq}}
    </div>

</div>
