<div class="card card-light">
    <div class="card-header">
        <h3 class="card-title"><code>{{@key}}</code></h3>
    </div>
    <div class="card-body">
        <p>
            The following table contains the properties which were resolved by this test resources provider.
        </p>
        <table class="table">
            <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
                <th>Request context</th>
                <th>Test resources configuration</th>
            </tr>
            </thead>
            <tbody>
            {{#each controlPanel.body as |resolution|}}
                <tr>
                    <td><code>{{resolution.property}}</code></td>
                    <td><code>{{resolution.resolvedValue}}</code></td>
                    <td><code>{{resolution.properties}}</code></td>
                    <td><code>{{resolution.testResourcesConfiguration}}</code></td>
                </tr>

            {{/each}}
            </tbody>
        </table>

    </div>
</div>
